// Bebas Neu

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/font/BebasNeue-webfont.woff') format('woff'),
         url('/font/BebasNeue-webfont.ttf') format('truetype'),
         url('/font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Blackout

@font-face {
    font-family: 'BlackoutMidnight';
    src: url('/font/Blackout-Midnight-webfont.woff') format('woff'),
         url('/font/Blackout-Midnight-webfont.ttf') format('truetype'),
         url('/font/Blackout-Midnight-webfont.svg#BlackoutMidnight') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Cabin

@font-face {
    font-family: 'CabinRegular';
    src: url('/font/Cabin-Regular-webfont.woff') format('woff'),
         url('/font/Cabin-Regular-webfont.ttf') format('truetype'),
         url('/font/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('/font/Cabin-Italic-webfont.woff') format('woff'),
         url('/font/Cabin-Italic-webfont.ttf') format('truetype'),
         url('/font/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('/font/Cabin-Bold-webfont.woff') format('woff'),
         url('/font/Cabin-Bold-webfont.ttf') format('truetype'),
         url('/font/Cabin-Bold-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('/font/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('/font/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('/font/Cabin-BoldItalic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Chunkfive

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('/font/Chunkfive-webfont.woff') format('woff'),
         url('/font/Chunkfive-webfont.ttf') format('truetype'),
         url('/font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Junction

@font-face {
    font-family: 'JunctionRegular';
    src: url('/font/Junction-webfont.woff') format('woff'),
         url('/font/Junction-webfont.ttf') format('truetype'),
         url('/font/Junction-webfont.svg#JunctionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// League Gothic

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/font/League_Gothic-webfont.woff') format('woff'),
         url('/font/League_Gothic-webfont.ttf') format('truetype'),
         url('/font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


// Museo Slab

@font-face {
    font-family: 'MuseoSlab';
    src: url('/font/Museo_Slab_500-webfont.woff') format('woff'),
         url('/font/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('/font/Museo_Slab_500-webfont.svg') format('svg');
    font-weight: 500;
    font-style: normal;

}


// PT Serif

@font-face {
    font-family: 'PTSerifRegular';
    src: url('/font/PTF55F-webfont.woff') format('woff'),
         url('/font/PTF55F-webfont.ttf') format('truetype'),
         url('/font/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifItalic';
    src: url('/font/PTF56F-webfont.woff') format('woff'),
         url('/font/PTF56F-webfont.ttf') format('truetype'),
         url('/font/PTF56F-webfont.svg#PTSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSerifBold';
    src: url('/font/PTF75F-webfont.woff') format('woff'),
         url('/font/PTF75F-webfont.ttf') format('truetype'),
         url('/font/PTF75F-webfont.svg#PTSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Source Code Pro

@font-face {
    font-family: 'SourceCodePro';
    src: url('/font/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('/font/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('/font/SourceCodePro-Regular-webfont.svg#SourceCodePro') format('svg');
    font-weight: normal;
    font-style: normal;

}

