.note-edit {
    // @include transform(rotateY(180deg));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#note-edit-form {
    width: 100%;
    height: 100%;
}
#note-edit-form textarea {
    -webkit-user-select: text;
    -moz-user-select: -moz-text;
    -ms-user-select: text;
    user-select: text;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $editorBg;
    color: $editorFg;
    border: 0px;
    font: 18px/26px 'SourceCodePro';
}
#note-edit-form textarea:focus {
    outline: 0;
}

.note {
    box-sizing: border-box;
    // margin-top: -40%;
    // margin-left: -20%;

    width: $pageWidth;
    height: $pageHeight;
    @include iphone4 {
        width: $ip4PageWidth;
        height: $ip4PageHeight;
    }
    @include iphone5 {
        width: $ip5PageWidth;
        height: $ip5PageHeight;
    }

    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    p {
        -webkit-hyphens: auto;
    }

    // @include backface-visibility(hidden);
    @include iphone {
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
    }
}

.note p {
    padding: 0;
    margin: 0;
}

.note h1:first-of-type {
    margin-top: 0px;
}

.first-line-bold p:first-child:first-line {
    font-weight: bold;
}

.first-line-larger p:first-child:first-line {
    font-size: 180%;
}

.slabtexted .slabtext {
    display:-moz-inline-box;
    display:inline-block;
    white-space:nowrap;
}
.slabtextinactive .slabtext {
    display:inline;
    white-space:normal;
    font-size:1em !important;
    letter-spacing:inherit !important;
    word-spacing:inherit !important;
    *letter-spacing:0 !important;
    *word-spacing:0 !important;
}
.slabtextdone .slabtext {
    display:block;
}
