/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "h5bp";
@import "compass/css3";
@import "compass/css3/transform";

@include h5bp-display;
@include h5bp-selection;
@include h5bp-base;
@include h5bp-links;
@include h5bp-typography;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-tables;

@include h5bp-helpers;


@import "fonts";


@mixin font-size($sizeValue: 1.6, $lineHeight: $sizeValue * 1.4){
    font-size: ($sizeValue * 10) + px;
    line-height: ($lineHeight * 10) + px;
    font-size: $sizeValue + rem;
    line-height: $lineHeight + rem;
}

@mixin iphone {
  // @media only screen and (max-width: 480px) {
  //   @content;
  // }
    @media screen and (device-aspect-ratio: 2/3), 
            screen and (device-aspect-ratio: 40/71), 
            screen and (device-aspect-ratio: 3/4) { 
        @content;
    }
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

$padding: 50px;
$pageWidth: 480px;
$pageHeight: 690px;

// colours
$editorBg: rgb(240, 240, 240);
$editorFg: rgb(20,20,20);

// the buttons
.page-buttons a, .edit-buttons a {
    display: inline-block;
    text-decoration: none;
}
.page-buttons, .edit-buttons {
    // border-top: 1px solid #333;
    // opacity: 0.95;
    -webkit-transition: 0.2s;
    width: $pageWidth;
    height: 60px;
    position: absolute;
    bottom: -60px;
    // left: $pageWidth;
    // @include iphone {
    //     left: 0;
    // }
    // margin-top: 0px;
    color: #333;
    padding: 0 15px 10px 0;
    display: none;
    font-size: 50px;
    line-height: 1.3;
    @include transition(0.2s);
    @include transform(translateZ(0px));
}
.page-buttons {
    // @include backface-visibility(hidden);
}
.edit-buttons {
    display: block;
    background-color: $editorBg;
    a {
        color: #333;
    }
    a:hover {
        color: $editorFg;
    }
}
.page-buttons a, .edit-buttons a {
    display: inline-block;
    width: 25%;
    text-align: center;
}

html {
  font-size: 62.5%;
}

html, body {
    height: 100%;
}

.main {
    // postion: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    // padding: 50px;
}

.cf {
  display: table;
  clear: both;
}

.note-edit {
    // @include transform(rotateY(180deg));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#note-edit-form {
    width: 100%;
    height: 100%;
}
#note-edit-form textarea {
    -webkit-user-select: text;
    -moz-user-select: -moz-text;
    -ms-user-select: text;
    user-select: text;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $editorBg;
    color: $editorFg;
    border: 0px;
    font: 18px/26px 'SourceCodePro';
    @include iphone {
        font: 26px/36px 'SourceCodePro';
    }
}
#note-edit-form textarea:focus {
    outline: 0;
}

.note {
    box-sizing: border-box;
    // margin-top: -40%;
    // margin-left: -20%;
    width: $pageWidth;
    height: $pageHeight;
    margin: 0 auto;
    overflow-x: none;
    overflow-y: scroll;
    p {
        -webkit-hyphens: auto;
    }

    @include backface-visibility(hidden);
    @include iphone {
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
    }
}

.note p {
    padding: 0;
    margin: 0;
}

.note h1:first-of-type {
    margin-top: 0px;
}

.first-line-bold p:first-child:first-line {
    font-weight: bold;
}

.first-line-larger p:first-child:first-line {
    font-size: 180%;
}


// page turning stuff for the notebooks...

#book-holder {
   @include perspective(2000);
}

.book {
    position: relative;
    width: $pageWidth*2;
    height: $pageHeight;
    overflow: hidden; // for the button bars
    @include iphone {
        left: -480px;
    }
}

.page {
    @include transform-style(preserve-3d);
    @include transition(transform 0.3s ease-in-out);
    @include transform(translate3d(0px, 0px, 0px));
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

// .page-holder
.side {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: $pageWidth;
    width: $pageWidth;
    height: $pageHeight;
    // @include transition(background-color 0.5s linear);
    @include backface-visibility(hidden);
}

.verso {
    @include transform(rotateY(180deg));    
    background-color: #ffe;
}

.recto {
    background-color: #ffe;
}

.flipped {
    @include transform(rotateY(-180deg));    
}

#page-store {
    display: none;
}
