/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "h5bp";
@import "compass/css3";
@import "compass/css3/transform";

@include h5bp-display;
@include h5bp-selection;
@include h5bp-base;
@include h5bp-links;
@include h5bp-typography;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-tables;

@include h5bp-helpers;

@mixin font-size($sizeValue: 1.6, $lineHeight: $sizeValue * 1.4){
    font-size: ($sizeValue * 10) + px;
    line-height: ($lineHeight * 10) + px;
    font-size: $sizeValue + rem;
    line-height: $lineHeight + rem;
}

@mixin iphone {
    @media screen and (device-aspect-ratio: 2/3), 
            screen and (device-aspect-ratio: 40/71), 
            screen and (device-aspect-ratio: 3/4) { 
        @content;
    }
}

@mixin iphone4 {
    @media screen and (device-aspect-ratio: 2/3) { 
        @content;
    }
}

@mixin iphone5 {
    @media screen and (device-aspect-ratio: 40/71) { 
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) { 
        @content;
    }
}


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

// * { overflow-y: hidden; }

$padding: 50px;
$pageWidth: 320px;
$pageHeight: 460px;
$ip4PageWidth: 320px;
$ip4PageHeight: 460px;
$ip5PageWidth: 320px;
$ip5PageHeight: 548px;


// colours
$editorBg: rgb(240, 240, 240);
$editorFg: rgb(20,20,20);

@import "fonts";
@import "note";
@import "notebook";
@import "page";

html {
  font-size: 62.5%;
}

html, body {
    height: 100%;
}

.main {
    // postion: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-image: url(/img/splash-4.png);
    background-size: 320px 460px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#pull-up {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: 
    black;
    z-index: -1;
    text-align: center;
    color: 
    white;
    font-size: 2em;
    padding: 20px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .page {
        left: 0;
    }

    .side {
        left: 0;
    }

    .note {
        -webkit-overflow-scrolling: none;
        overflow-y: hidden;
    }
}

.offscreen {
    -webkit-transform: translateX(-$pageWidth);
    @include iphone4 {
        -webkit-transform: translateX(-$ip4PageWidth);
    }
    @include iphone5 {
        -webkit-transform: translateX(-$ip5PageWidth);
    }
}



